<form method="post" action="{{ path('app_offreticket_delete', {'id': offreticket.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offreticket.id) }}">
    <button class="btn">Delete</button>
</form>
